.copy_right_footer{
    position: fixed;
    color: grey;
    bottom: 0;
    width: 100%;
    line-height: 3;
    text-align: center;
    font-size: 20px;
    } 

.test_image_and_result{
 background-color: lightseagreen;   
 border-radius: 60px;
 box-shadow: 20px;
}    

#header{
    font-size: 40px;
    text-underline-position: below; 
}

#final_conclusion{
   
    border-radius: 60px;
    border-width:100px;
    white-space: inherit;
    font-size:20px;
    

}

img{
    border-radius: 60px;
}

